._article-card {
	border-radius: 8px;
	min-height: 100%;
	background-color: $horizonte-navyblue;
	position: relative;
	transition: box-shadow 0.25s ease-in-out;
	@include media-breakpoint-up (md) {
		flex: 0 0 48%;
	}

	.stretched-link::after {
		z-index: 2;
	}

	.content {
		z-index: 1;
		position: relative;
	}

	.excerpt {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.thumbnail {
		display: block;

		img {
			border-radius: 8px 8px 0 0;
			min-width: 100%;
			height: 216px;
			object-fit: cover;
		}
	}

	.date {
		color: #6a92a1;
		font-size: rem(12);
	}

	&:hover {
		box-shadow: 0px 1px 10px $horizonte-green;
	}

	&.highlighted {
		background-color: transparent;

		.thumbnail {
			margin: 0 -15px;

			img {
				border-radius: 0;
			}
		}

		.content {
			background-color: #f7f9fa;
			margin-top: -25%;
			border-radius: 8px;
		}
	}
}

@include media-breakpoint-up(md) {
	._article-card.highlighted {
		display: flex;

		.content {
			margin-top: 0;
			border-radius: 0 8px 8px 0;
		}

		.thumbnail {
			overflow: hidden;
			flex: 1 0;
			margin: 0;
			min-width: 62.5%;

			img {
				height: 100%;
				width: auto;
				max-width: none;
				border-radius: 8px 0 0 8px;
			}
		}
	}
}
