/* 
 * The WordPress the_content() container.
 * Avoid using this class for any other element.
 */

.the-content {

    h1, h2, h3, h4, h5, h6 {
        clear: both;
    }

    .alignleft {
        display: block;
        float: left;
        margin-right: 1.5em;
    }
    
    .alignright {
        display: block;
        float: right;
        margin-left: 1.5em;

        .wp-caption-text {
            text-align: right;
        }
    }
    
    .aligncenter {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
	}
	
	@include media-breakpoint-only(xs) {
		.alignleft, .alignright {
			float: none;
		}
	}

    .wp-caption {
        .wp-caption-text {
            min-width: 100%;
            width: 0;
        }
    }

    figure {
        width: auto !important;
    }
}