
.icon-arrow:before { content: '\ea01'; } /* '' */
.icon-captalys:before { content: '\ea02'; } /* '' */
.icon-caret:before { content: '\ea03'; } /* '' */
.icon-close:before { content: '\ea04'; } /* '' */
.icon-facebook:before { content: '\ea05'; } /* '' */
.icon-instagram:before { content: '\ea06'; } /* '' */
.icon-location:before { content: '\ea07'; } /* '' */
.icon-mail:before { content: '\ea08'; } /* '' */
.icon-menu:before { content: '\ea09'; } /* '' */
.icon-phone:before { content: '\ea0a'; } /* '' */
.icon-pinterest:before { content: '\ea0b'; } /* '' */
.icon-play:before { content: '\ea0c'; } /* '' */
.icon-search:before { content: '\ea0d'; } /* '' */
.icon-tomatico:before { content: '\ea0e'; } /* '' */
.icon-twitter:before { content: '\ea0f'; } /* '' */
.icon-whatsapp:before { content: '\ea10'; } /* '' */
.icon-youtube:before { content: '\ea11'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */