$icons: (
	arrow: \eA01,
	caret: \eA03,
	close: \eA04,
	facebook: \eA05,
	instagram: \eA06,
	linkedin:\f0e1, 
	location: \eA07,
	mail: \eA08,
	menu: \eA09,
	phone: \eA0A,
	pinterest: \eA0B,
	play: \eA0C,
	search: \eA0D,
	twitter: \eA0F,
	whatsapp: \eA10,
	youtube: \eA11
);